
#form {
	width:50%;
	height:auto;
	text-align:left;
	padding:30px;
}
.left {
	float:right;
}
.address_field {
	vertical-align:top;
}
table {
    width:100%;
}
table, th, td {    
    border-collapse: collapse;
	border: 1px solid #98bf21;
}
th, td {
    padding: 5px;
    text-align: left;
}
table.names tr:nth-child(even) {
    background-color: #EAF2D3;
}
table.names tr:nth-child(odd) {
   background-color:#ffffff;
}
table.names th	{
    background-color: #A7C942;
}

